.active{
    font-weight: bold;
    color: white !important;
    background-color: rgba(35, 35, 35, 0.526) !important;
    border-radius: 70px  !important;
}
h1{
    color: white !important;
}

a:hover {
    text-decoration: none;
}



nav{
    border-right: 1px solid #555555;

}