.active{
    font-weight: bold;
    color: white !important;
    background-color: rgba(35, 35, 35, 0.526) !important;
    border-radius: 70px  !important;
}
h1{
    color: white !important;
    font-size: larger !important;
}

a:hover {
    text-decoration: none;
}

.nav-link{
    cursor: pointer;
}

