.card {
    border-radius: 15px !important;
    border: 1px solid gray !important;
    padding: 15px;
    width: 520px;
}

.card-title {
    color: #ffffff;
    font-weight: bold;
}

.form-control {
    background-color: #282828;
    border: 1px solid #555555;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.custom-datetime-dark {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #ffffff;
    font-size: 16px;
    background-color: #282828;
}

.custom-datetime-dark:hover,
.custom-datetime-dark:focus {
    border-color: #007bff;
    outline: none;
}

.custom-datetime-dark::-webkit-calendar-picker-indicator {
    background-color: #4a90e2;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group {
    display: flex;
    align-items: left;
}

.form-label {
    flex: 0 0 110px;
    text-align: left;
    margin-right: 10px;
}

label {
    font-size: large;
    font-weight: 500;
}

.form-input {
    flex: 5;
}
