<div class="container-scroller">
  <app-sidebar-prof></app-sidebar-prof>
  <div class="container-fluid page-body-wrapper">
    <app-navbar-prof></app-navbar-prof>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2 class="card-title">Liste des Taches</h2>
          <div class="d-flex">

            <a class="nav-link btn btn-primary create-new-button" [routerLink]="['/dashboardProf', idProf, 'creerTache']">+ Créer Tâche</a>

            <!--<a class="nav-link btn btn-primary create-new-button ml-3" [routerLink]="['/creerGroupe']">+ Créer
              Groupe</a>-->

          </div>
        </div>

        <div class="kanban-container d-flex justify-content-between">
          
          <div class="kanban-column">
            <h5>To Do</h5>
            <!--<div *ngFor="let tache of taches | filterByStatus:'todo'" class="card mb-3">-->

              <div *ngFor="let tache of taches" class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ tache.titre }}</h5>
                  <p class="card-text">{{ tache.description }}</p>
                  <p class="card-text text-muted">{{ tache.dateLimite | date:'short' }}</p>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-lig" [routerLink]="['/dashboardProf', idProf, 'taches', tache.id_Tache]"
                            style="position: absolute; top: 20px; right: 40px;">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </div>
                   <!-- show Comments -->
                  <div *ngFor="let c of tache.completions">
                    <div *ngFor="let comment of c.commentaires">{{comment}} -- {{c.etudiantName}}</div>
                  </div>
                 <!-- show Comments -->
                    <div *ngIf="selectedTacheId === tache.id_Tache" class="mb-4" id="assignEtudiantsSection">
                    <div class="card">
                      <h5 class="mb-0">Assigner à des étudiants</h5>
                      <hr>
                      <div class="form-group">
                        <div *ngFor="let classe of tabClasses" class="form-check">
                          <input type="checkbox" [value]="classe.id_Classe" (change)="onClasseChange(classe, $event)" class="form-check-input" id="classe-{{ classe.id_Classe }}" />
                          <label class="form-check-label" for="classe-{{ classe.id_Classe }}">
                            {{ classe.nom_Classe }} {{ classe.num_Classe }}
                          </label>
                        </div>
                        <div *ngFor="let etudiant of etudiants" class="form-check">
                          <input type="checkbox" [value]="etudiant.id_Etudiant" (change)="onEtudiantChange($event)"
                                class="form-check-input" id="etudiant-{{ etudiant.id_Etudiant }}"
                                [checked]="selectedEtudiants.includes(etudiant.id_Etudiant)"  />
                          <label class="form-check-label" for="etudiant-{{ etudiant.id_Etudiant }}">
                            {{ etudiant.nom_Etd }} {{ etudiant.prenom_Etd }}
                          </label>
                        </div>
                      </div>
                      
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary mr-2" (click)="assignSelectedEtudiants()">
                          <i class="bi bi-plus-square"></i> Assigner
                        </button>
                        <button class="btn btn-secondary" (click)="closeEtudiantList()">
                          <i class="bi bi-backspace-reverse"></i> Fermer
                        </button>
                      </div>
                      <div *ngIf="alertVisible1" class="alert alert-primary mt-3" role="alert">Tâche assignée avec succès</div>
                    </div>
                  </div>
              <hr>
                  <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-secondary" (click)="assignTache(tache.id_Tache)"
                            style="position: absolute; bottom: 30px; left: 40px;">
                      <i class="bi bi-person-plus-fill"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteTask(tache.id_Tache, tache.professeur.id_Professeur)"
                            style="position: absolute; bottom: 30px; right: 40px;">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
        <!--
          <div class="kanban-column">
            <h5>In Progress</h5>
            <div *ngFor="let tache of taches | filterByStatus:'inProgress'" class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ tache.titre }}</h5>
                <p class="card-text">{{ tache.description }}</p>
                <p class="card-text text-muted">{{ tache.dateLimite | date:'short' }}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-primary" (click)="assignTache(tache.id_Tache)">Attribuer</button>
                  <button class="btn btn-primary" [routerLink]="['/dashboardProf', idProf, 'taches', tache.id_Tache]">Modifier</button>
                  <button class="btn btn-danger" (click)="deleteTask(tache.id_Tache, tache.professeur.id_Professeur)">Supprimer</button>
                </div>
              </div>
            </div>
          </div>

          <div class="kanban-column">
            <h5>Done</h5>
            <div *ngFor="let tache of taches | filterByStatus:'done'" class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ tache.titre }}</h5>
                <p class="card-text">{{ tache.description }}</p>
                <p class="card-text text-muted">{{ tache.dateLimite | date:'short' }}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-primary" (click)="assignTache(tache.id_Tache)">Attribuer</button>
                  <button class="btn btn-primary" [routerLink]="['/dashboardProf', idProf, 'taches', tache.id_Tache]">Modifier</button>
                  <button class="btn btn-danger" (click)="deleteTask(tache.id_Tache, tache.professeur.id_Professeur)">Supprimer</button>
                </div>
              </div>
            </div>
          </div>-->
      </div>
    </div>
  </div>
</div>


