.kanban-container {
    display: flex;
    justify-content: space-between;
}

.kanban-column {
    background-color: #e6e9ee; 
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 0 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kanban-column h5 {
    font-weight: bold;
    color: #505050; 
    margin-bottom: 15px; 
}

.card {
    border-radius: 10px;
    border: 1px solid #ced4da; 
    padding: 15px;
    transition: transform 0.2s;
    background-color: #292b3195;
}

.card-title {
    color: #505050;
    font-weight: bold;
}

.card-body .card-title {
    color: #303030;
    font-size: large;
}
.card-text {
    color: #ffffff !important;
}

.card:hover {
    transform: scale(1.02);
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
}
.bi {
    margin-right: 0; 
    padding-right: 0; 
}