<div class="container-scroller">
    <app-sidebar></app-sidebar>
           <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
         <div class="main-panel">
           <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Liste des Professeurs</h4>
                        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" [routerLink]="['/profs']">
                          +Créer Prof
                        </a>
                      </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th> Nom</th>
                            <th> Prenom </th>
                            <th> Email </th>
                            <th> Classes </th>
                            <th>Matières</th>
                           <th>Télephone</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let prof of profs">
                            <td>{{prof.id_Professeur}}</td>
                            <td>
                             {{prof.nom_Prof}}
                            </td>
                            <td> {{prof.prenom_Prof}} </td>
                            <td> {{prof.email_Prof}} </td>
                            <td> ... </td>
                            <td> ... </td>
                            <td>
                              {{prof.telephone_Prof}}
                            </td>
                          </tr>
          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
         </div>
       </div>
     </div>