.kanban-container {
  display: flex;
  justify-content: space-between;
}

.kanban-column {
  background-color: #e6e9ee; 
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  margin: 0 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kanban-column h5 {
  font-weight: bold;
  color: #555555; 
  margin-bottom: 15px; 
}

.btn-start {
  background-color: #28a745;
  transition: background-color 0.3s ease;
}

.btn-start:hover {
  background-color: #218838;
}

.btn-stop {
  background-color: #dc3545;
  transition: background-color 0.3s ease;
}

.btn-stop:hover {
  background-color: #c82333;
}

button i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}

button {
  font-size: 16px; /* Taille de police plus grande */
  padding: 10px 20px; /* Améliorer la taille du bouton */
}


.card {
  border-radius: 10px;
  border: 1px solid #ced4da; 
  padding: 15px;
  transition: transform 0.2s;
  background-color: #292b3195;
}

.card:hover {
  transform: scale(1.02);
}

.btn {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.bi {
  margin-right: 0; 
  padding-right: 0; 
}






.progress {
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff;
    transition: width 0.4s ease; 
  }
  

  .font-weight-bold {
    font-weight: bold;
  }
  
.card-title {
    color: #ffffff;
    font-weight: bold;
}

.form-control {
    background-color: #282828;
    border: 1px solid #555555;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.form-group {
    display: flex;
    align-items: left;
}

.form-label {
    flex: 0 0 110px;
    text-align: left;
    margin-right: 10px;
}

label {
    font-size: large;
    font-weight: 500;
}

.form-input {
    flex: 5;
}


