<div class="container-scroller">
    <app-sidebar-prof></app-sidebar-prof>
           <div class="container-fluid page-body-wrapper">
    <app-navbar-prof></app-navbar-prof>
    <div class="main-panel">
        <div class="content-wrapper">
         <div class="row w-100 m-0">
           <div class="card col-lg-8 mx-auto">
             <div class="card-body px-5 py-5">
               <h3 class="card-title text-left mb-3">Créer Groupe</h3>
               <form [formGroup]="form" (ngSubmit)="onSubmit()">
                 <div class="form-group">
                   <label>Nom du groupe <span class="text-danger">*</span></label>
                   <input type="text" id="libelle_Groupe" class="form-control" formControlName="libelle_Groupe">
                    
                 </div>
                 <div class="form-group">
                   <label>Sélectionnez les étudiants <span class="text-danger">*</span> </label>
                   <select multiple class="form-control" formControlName="etudiants" id="etudiants" style="height: 150px;">
                    <option *ngFor="let etudiant of etudiants" [value]="etudiant">
                      {{ etudiant.nom_Etd }} {{ etudiant.prenom_Etd }}
                    </option>
                  </select>                
                 </div>
              
                
            
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark" type="reset">Cancel</button>
               </form>
             </div>
         </div>
         <!-- content-wrapper ends -->
       </div>
     
      </div>
      </div>
       </div>
     </div>
     

     