
<div class="container-scroller">
    <app-sidebar></app-sidebar>
           <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
         <div class="main-panel">
           <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Liste des Matières</h4>
                                <a class="nav-link btn btn-warning create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" [routerLink]="['/mat']">
                                    + Créer Matière
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom Matière</th>
                                            <th>Classe</th>
                                            <th>Nombre de professeurs</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let matiere of matieres">
                                            <td>{{ matiere.id_Matiere }}</td>
                                            <td>{{ matiere.libelle }}</td>
                                            <td>{{ getClassesNames(matiere) }}</td>
                                            <td>{{ matiere.professeurs.length }}</td> <!-- Affiche le nombre de professeurs -->
                                            <td>
                                                <button class="btn btn-warning">Modifier</button>&nbsp;&nbsp;&nbsp;
                                                <button class="btn btn-warning">Supprimer</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         </div>
       </div>
     </div>