<div class="container-scroller">
    <app-sidebar></app-sidebar>
           <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
         <div class="main-panel">
           <div class="content-wrapper">
            <form (ngSubmit)="onSubmit()" #classeForm="ngForm">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Créer Classe</h4>
                  <br>
                  <div class="form-group">
                    <label for="libelle_Classe">Libellé Classe:</label>
                    <br><input
                      type="text"
                      id="libelle_Classe"
                      required
                      [(ngModel)]="classe.libelle_Classe"
                      name="libelle_Classe"
                      style="background-color: black; color: white; font-size: small; padding: 5px; border-radius: 4px;"
                    />
                  </div>
            
                  <div class="form-group">
                    <label for="etudiants">Sélectionner les Étudiants:</label>
                    <select
                      id="etudiants"
                      multiple="multiple"
                      [(ngModel)]="classe.etudiants"
                      name="etudiants"
                      style="width: 100%;"
                    >
                      <option *ngFor="let etudiant of etudiants" [ngValue]="etudiant">
                        {{ etudiant.nom_Etd }} {{ etudiant.prenom_Etd }}
                      </option>
                    </select>
                  </div>
            
                  <div class="form-group">
                    <label for="matieres">Sélectionner les Matières:</label>
                    <select
                      id="matieres"
                      multiple="multiple"
                      [(ngModel)]="classe.matieres"
                      name="matieres"
                      style="width: 100%;"
                    >
                      <option *ngFor="let matiere of matieres" [ngValue]="matiere">
                        {{ matiere.libelle }}
                      </option>
                    </select>
                  </div>
                </div>
            
                <div class="card-footer">
                  <button type="submit" class="btn btn-info mr-2" [disabled]="!classeForm.form.valid">Submit</button>
                  <button type="button" class="btn btn-dark" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </form>
         </div>
         </div>
       </div>
     </div>