<div class="container-scroller">
  <app-sidebar-etd></app-sidebar-etd>
  <div class="container-fluid page-body-wrapper">
    <app-navbar-etd></app-navbar-etd>
    <div class="main-panel">
      <div class="content-wrapper">
        
        <div class="row">
          <div class="col-md-6">
            <canvas id="tasksOverviewChart"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="taskComplexityChart"></canvas>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <canvas id="timeSpentSubjectsChart"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="timeSpentWeeklyChart"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
