<div class="container-scroller">
  <app-sidebar></app-sidebar>
  <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Modifier les informations de l'étudiant</h2>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <p class="card-description"><i class="bi bi-dot"></i> Informations Personnelles </p>

                <div class="row">
                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Nom</label>
                    <input type="text" id="nom_Etd" class="form-control custom-input" formControlName="nom_Etd" />
                  </div>

                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Prénom</label>
                    <input type="text" id="prenom_Etd" class="form-control custom-input" formControlName="prenom_Etd" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Email</label>
                    <input type="email" id="email_Etd" class="form-control custom-input" formControlName="email_Etd" />
                  </div>

                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Mot de passe</label>
                    <div class="input-group">
                        <input 
                            type="password" 
                            id="mot_de_passe_Etd" 
                            class="form-control custom-input" 
                            formControlName="mot_de_passe_Etd" />
                    </div>
                  </div>
                </div>

                <br>

                <p class="card-description"><i class="bi bi-dot"></i> Informations Académiques </p>

                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="classe" class="col-sm col-form-label input-label">Classe</label>
                      <select
                        id="classe"
                        formControlName="classe"
                        (change)="onClasseChange($event)"
                        class="form-control custom-input"
                      >
                        <option value="">Sélectionner une classe</option>
                        <option *ngFor="let classe of filteredClasses" [value]="classe.nom_Classe">
                          {{ classe.nom_Classe }}
                        </option>
                      </select>
                    </div>
                  </div>
                
                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Année de la Classe</label>
                    <input type="number" id="anneeClasse" class="form-control custom-input" formControlName="anneeClasse" />
                  </div>

                  <div class="col-md">
                    <label class="col-sm col-form-label input-label">Numéro de la Classe</label>
                    <input type="number" id="numClasse" class="form-control custom-input" formControlName="numClasse" />
                  </div>
                </div>

                <hr>

                <div class="d-flex justify-content-end">
                 
                  <button type="submit" class="btn btn-secondary mr-2" [disabled]="form.invalid"><i class="bi bi-floppy"></i>Modifier</button>
                  <a routerLink="/listes-etudiants" class="btn btn-danger ml-2"><i class="bi bi-backspace-reverse"></i> Annuler</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
